@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

.firstContainer {
  padding: 0;
  color: white;
}

.principal{
  height: 100vh;
}

.titleInstituto{
  color: rgba(255,255,255,0.15) !important;
  height: 100%;
  width: 100%;
  background-color:rgba(21, 29, 51, 0.438)
}

h1 {
  width: 800px;
  font-size: 4em;
  z-index:0;
}

.continue{
  width: 100%;
  height: 100%;
  background:#212529!important;
}

.navTop{
  font-size:1.2em;
  letter-spacing: 0.5px;
  Width: 100%;
  z-index: 1;
  background-color:rgba(21, 29, 51, 0.438)
}


.login-page {
  width: 500px;
  padding: 8% 0 0;
  position: fixed;
  right: 25%;
  left: 25%;
  bottom: 5%;
  top: 5%;
  margin: auto;
  display: none;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .login-page{
    right: 25%;
    left: 25%;
  }
  
}

.formLogin h4{
  color: #0d6efd;
}

.formLogin {
  background: #FFFFFF;
  max-width: 400px;
  height: 400px;
  position: relative;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}

.formLogin input {
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.formLogin button {
  text-transform: uppercase;
  outline: 0;
  background: #0d6efd;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formLogin button:hover,.form button:active,.form button:focus {
  background: #3786fc;
}


.formLogin{
  display: flex;
}

.loginTeacher, .loginStudent{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.institutoPic{
  
  background-image: url(../media/institutoSuperior.jpg);
  width:100%;
  height: 90%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.loginTeacher{
  transform: rotateY(180deg);
}

.btnChangeUsers{
  color: #0d6efd;
  font-size: 20px;
  cursor: pointer;
}

.rotate{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s ease;
}


.logContainer{
  min-height: 100vh;
}

.tachar{
  text-decoration: line-through!important;
}

.horarios{

  border: 4px solid white;
  padding: 4px;

  
}

table tr td{
  padding: px 20px;
}

.invalid{
  color: red;
  font-size: 12px;
  opacity: 0;
}

.mostrarIncorrecto{
  opacity: 1;
}

.modalAlert{
  color: black;
  position: fixed;
  border-radius: 10px;
  border: solid 1px;
  background: #FFFFFF;
  height: 10rem;
  width: 25rem;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 100;
}

.btnGral{
  position: absolute;
  text-transform: uppercase;
  outline: 0;
  bottom: 10px;
  right: 10px;
  background: #0d6efd;
  width: 80px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
 
a{
  text-decoration: none;
}

.pricingSection{
  color: #000000;
  background-image: url(../media/bg-gray.jpg);
  width: 100%;
  height: 600px;

}

.tituloPricing{
  font-size: 40px;
}

.card{
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 420px;
  z-index:0;
}
.card:hover{
  height: 450px;
  transition: 0.5s;
}
 

.card h3{
  font-size: 50px;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  
}

.mensual{
  color:black;
  background: #FFFFFF;
}
.descrip{
  height: 100%;
}

.anual{
  color: black;
  background: #FFFFFF;
}

.card button{
  position: absolute;
  width: 10rem;
  height: 3rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  bottom: 20px;
  margin: auto;
  right: 25%;
  left: 25%;
  font-size: 20px;
}

.price1{
  position: absolute;
  font-size: 45px;
  bottom: 100px;
  margin: auto;
  right: 25%;
  left: 25%;
}

.price2{
  position: absolute;
  font-size: 35px;
  bottom: 100px;
  margin: auto;
  right: 25%;
  left: 25%;
}

.about{
  position: relative;
  height: 700px;
}

.campusAbout{
  position: absolute;
  width: 700px;
  height: 500px;
  background-image: url(../media/campus.jpg);
  background-position: center;
  background-size: cover;
}

.cardAbout{
  color: black;
  position: relative;
  width: 400px;
  height: 400px;
  top: 10%;
  margin: auto;
  right: 85%;
  background-color: #ffffffa2;
}

.sectionFooter{
  width: 100%;
  height: 100px;

}

body{
  font-family: roboto,sans-serif;
}